{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Detail {{ post.title }}
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ object.title }}</h1>

            <!-- Author -->
            <p class="lead">
                by {{ object.author }}
            </p>

            <hr>

            <!-- Date/Time -->
            <p>{{ object.publish | timesince }} ago.</p>

            <hr>

            <a href="{% url 'post:share' pk=object.pk %}" class="text-success">share</a> this post
            <hr>

            <!-- Post Content -->
            <p>
                {{ object.content }}
            </p>

            <hr>

            <div class="mb-4">
                {% for comment in object.comment_set.all %}

                <div class="mb-2">
                    <span class="text-success">{{ comment }}</span> say {{ comment.body }}
                </div>

                {% endfor %}
            </div>

            {% if new_comment %}
            Your comment is added
            {% else %}
            <h5 class="">Leave a Comment:</h5>

            <form action="{% url 'post:add_comment' slug=object.slug %}" method="POST" class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            {% endif %}
        </div>

        <div class="col-lg-4">
            {% include 'snippets/sidebar.html' with tags=tags %}
        </div>
    </div>
</div>
{% endblock content %}