{% load blog_tags %}
<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <form action="{% url 'post:search' %}">
            <div class="input-group">
                <input type="text" class="form-control" name='q' placeholder="Search for..." {% if request.GET.q %}
                    value="{{request.GET.q}}" {% endif %} required>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div>
    This is my blog i've written {% get_total_post_count %} posts.<br>
    <a href="{% url 'post:post_feed' %}">Subscribe to my rss feed</a>
    {% get_latest_posts %}
</div>

{% get_most_commented_post as most_commented_post %}

<div class="card my-3">
    <div class="card-header">
        <h4>Most commented posts form blog</h4>
    </div>
    <div class="card-body">
        {% for post in most_commented_post %}
        <a href="{% url 'post:detail' slug=post.slug %}">
            {{ post.title }}
        </a>
        {% endfor %}
    </div>
</div>

<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Tags</h5>
    <div class="card-body">
        <div class="row">

            {% for tag in tags %}


            <div class="col-lg-6">
                <p>
                    <a href="{% url 'post:search-tag' %}?q={{tag.name}}">{{ tag.name }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>