<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <form action="{% url 'post:search' %}">
            <div class="input-group">
                <input type="text" class="form-control" name='q' placeholder="Search for..." {% if request.GET.q %}
                    value="{{request.GET.q}}" {% endif %} required>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </div>
</div>

<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Tags</h5>
    <div class="card-body">
        <div class="row">

            {% for tag in tags %}


            <div class="col-lg-6">
                <p>
                    <a href="{% url 'post:search-tag' %}?q={{tag.name}}">{{ tag.name }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>